.MobileDatePicker {
  display: flex;
  justify-content: center;
  align-items: center;
  background: purple;
  height: 100vh;
  width: 100vw;
  color: white;

  .select-btn {
    margin: 1rem;
  }
}

.MobileDatePicker-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.datepicker-modal {
  pointer-events: none;
  .datepicker {
    pointer-events: auto;
  }
}
