.input {
  width: 250px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  outline: none;
  padding: 6px;
  padding-left: 10px;
  height: 30px;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

.input:focus {
  border: 1px solid #56b4ef;
  box-shadow: 0px 0px 3px 1px #c8def0;
}

.btn {
  outline: 0;
  outline-offset: 0;
  padding: 6px;
  border: 0;
  border-radius: 2px;
  width: 100%;
  /* height: 36.98px; */
  background: #0088cc;
  color: white;
  font-weight: bold;

  transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}

.btn:hover {
  cursor: pointer;
}

.btn:active,
.btn.active {
  background-color: #56b4ef;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

.rememberMe:hover {
  cursor: pointer;
}

.disabled {
  background: lightslategray;
}

.label {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabledSelect {
  user-select: none;
}
