.Note-root {
  overflow: hidden;
  position: relative;
}
.Note {
  overflow: hidden;
  max-height: 100px;
  position: relative;
  transition: all 200ms linear;
  -webkit-transition: all 200ms;
  -webkit-transition: -webkit-all 200ms;
  -webkit-transition: -webkit-height 200ms;
  -webkit-transition: height 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;

  .react-swipeable-view-container {
    height: 100%;
  }
  .read {
    background-color: #663bb7;
    color: white;
    height: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .delete {
    background-color: #b73b75;
    color: white;
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .wrapper:hover .instruction {
    display: block;
  }

  .instruction {
    color: white;
    background-color: rgba(138, 43, 226, 1);
    padding: 10px 20px;
    position: absolute;
    height: auto;
    right: 2px;
    display: none;
  }
}

.isDelete {
  opacity: 1;
  animation: aniIsDelete 0.7s linear forwards;
}
.goAway {
  opacity: 1;
  margin-bottom: 8px;
  height: 100px;
  // min-height: 100px;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  animation: aniGoAway 0.2s linear 0.5s forwards;
  -webkit-animation: aniGoAway 0.2s linear 0.5s forwards;
  -webkit-transition: all 200ms;
  -webkit-transition: -webkit-height 200ms;
  -webkit-transition: height 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  // -webkit-transform: translateZ(0);
}

@keyframes aniIsDelete {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes aniGoAway {
  0% {
    opacity: 1;
    height: 100px;
    min-height: 100px;
    margin-bottom: 8px;
  }
  99% {
    opacity: 0;
    height: 0px;
    min-height: 0px;
    margin-bottom: 0px;
  }
  100% {
    opacity: 0;
    height: 0px;
    min-height: 0px;
    margin-bottom: 0px;
    display: none;
  }
}

@keyframes aniGoAway {
  0% {
    opacity: 1;
    height: 100px;
    min-height: 100px;
    margin-bottom: 8px;
  }
  99% {
    opacity: 0;
    height: 0px;
    min-height: 0px;
    margin-bottom: 0px;
  }
  100% {
    opacity: 0;
    height: 0px;
    min-height: 0px;
    margin-bottom: 0px;
    display: none;
  }
}
