.container {
  width: 80%;
  padding-left: 30px;
  border-left: 14px solid white;
  transition: 0.2s;
  padding-bottom: 20px;
  background: white;
  margin-bottom: 8px;
  text-decoration: none;
  color: black;
}
.container:visited {
  color: none;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.wrapper h1 {
  /* border: 1px solid red; */
  /* line-height: 40px; */
  line-height: 60px;
}
.wrapper div {
  height: 20px;
  /* border: 1px solid red; */
  /* line-height: 40px; */
}

.container:hover {
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  /* color: rgba(0, 0, 0, 0.3); */
  /* color: white;
  background: rgba(138, 43, 226, 0.6);
  border-left: 14px solid black; */
  /* color: black;
  background: rgba(226, 224, 228, 0.6);
  border-left: 14px solid rgba(138, 43, 226, 0.8); */
  color: black;
  /* background: rgba(138, 43, 226, 0.1); */
  border-left: 14px solid rgba(138, 43, 226, 0.8);
  /* color: white;
  background: rgba(138, 43, 226, 0.8);
  border-left: 14px solid rgba(138, 43, 226, 0.9); */
}

@media screen and (max-width: 660px) {
  .container {
    width: 100%;
    padding-left: 8px;
    padding-right: 6px;
    border-left: 6px solid white;
    /* transition: 0.2s; */
  }
  .container:hover {
    /* color: white;
    background: rgba(138, 43, 226, 0.6);
    border-left: 6px solid black; */
    color: black;
    /* background: rgba(226, 224, 228, 0.6); */
    border-left: 6px solid rgba(138, 43, 226, 0.8);
  }
}
