.container {
  width: 100%;
  padding-left: 50px;
  border-left: 14px solid white;
  /* transition: 0.2s; */
}

.container:hover {
  /* box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.3); */
  cursor: pointer;
  /* color: rgba(0, 0, 0, 0.3); */
  /* color: white;
  background: rgba(138, 43, 226, 0.6);
  border-left: 14px solid black; */
  /* color: black;
  background: rgba(226, 224, 228, 0.6);
  border-left: 14px solid rgba(138, 43, 226, 0.8); */
  color: black;
  background: rgba(138, 43, 226, 0.2);
  border-left: 14px solid black;
  /* color: white;
  background: rgba(138, 43, 226, 0.8);
  border-left: 14px solid rgba(138, 43, 226, 0.9); */
}

@media screen and (max-width: 660px) {
  .container {
    width: 100%;
    padding-left: 8px;
    border-left: 6px solid white;
    /* transition: 0.2s; */
  }
  .container:hover {
    /* color: white;
    background: rgba(138, 43, 226, 0.6);
    border-left: 6px solid black; */
    color: black;
    background: rgba(226, 224, 228, 0.6);
    border-left: 6px solid rgba(138, 43, 226, 0.8);
  }
}
