.container {
  width: 80%;
  transition: all 0.3s linear;
  /* transition: 0.2s; */
  min-height: 100px;
  height: 100%;
  background: white;
  margin-bottom: 8px;
  text-decoration: none;
  color: black;
}
.container:visited {
  color: none;
  text-decoration: none;
}

.wrapper {
  position: relative;
  display: flex;
  padding-left: 30px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-left: 14px solid white;
  height: 100%;
  width: auto;
  /* border: 1px solid red; */
}
.wrapper h1 {
  width: auto;
  height: 100%;
  /* border: 1px solid red; */
  /* line-height: 40px; */
  line-height: 60px;
}
.wrapper a,
.wrapper h1 {
  height: 100%;
  display: flex;
  align-items: center;
}

.wrapper div {
  height: 20px;
  width: auto;

  /* border: 1px solid red; */
  /* line-height: 40px; */
}

.wrapper:hover {
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.3);
  /* color: rgba(0, 0, 0, 0.3); */
  /* color: white;
  background: rgba(138, 43, 226, 0.6);
  border-left: 14px solid black; */
  /* color: black;
  background: rgba(226, 224, 228, 0.6);
  border-left: 14px solid rgba(138, 43, 226, 0.8); */
  color: black;
  /* background: rgba(138, 43, 226, 0.1); */
  border-left: 14px solid rgba(138, 43, 226, 0.8);
  /* color: white;
  background: rgba(138, 43, 226, 0.8);
  border-left: 14px solid rgba(138, 43, 226, 0.9); */
}

@media screen and (max-width: 660px) {
  .container {
    width: 100%;
    /* transition: 0.2s; */
  }
  .wrapper {
    /* padding-left: 14px; */
    /* padding-right: 6px; */
    white-space: nowrap;
    overflow: hidden;
    border-left: 6px solid rgba(138, 43, 226, 0.8);
  }
  .wrapper:hover {
    /* color: white;
    background: rgba(138, 43, 226, 0.6);
    border-left: 6px solid black; */
    color: black;
    /* background: rgba(226, 224, 228, 0.6); */
    border-left: 6px solid rgba(138, 43, 226, 0.8);
  }
  .subTitle {
    display: none;
    height: 0px;
  }
  .wrapper a,
  .wrapper h1 {
    height: 100% !important;
    display: flex;
    align-items: center;
  }
  .row {
    flex-direction: row;
    min-height: 100%;
  }
  .row h1 {
    min-height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}
