.container {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'div div';
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
  overflow-y: auto; */
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100vh;
}

@media screen and (max-width: 660px) {
  .container {
    height: calc(100vh - var(--nav-height-660px));
    width: 100%;
    /* margin: var(--nav-height-660px) auto 0px; */
    overflow-y: auto;
    display: flex;
    /* border: 1px solid red; */
  }
}
