.SVGFilterEffects {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: url(#wavy);
  background-color: darkmagenta;
  transform: translate(5%, 5%);
  position: relative;

  h2 {
    color: white;
    font-size: 3rem;
    animation-name: upAndDown;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    cursor: pointer;
  }

  svg {
    width: 0;
    height: 0;
  }

  @keyframes upAndDown {
    0% {
      transform: translateY(-30px);
    }
    25% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
    75% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-30px);
    }
  }

  .desc {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
}
