.container {
  width: 100%;
  margin: 0px auto;
  overflow-y: auto;
  position: relative;
  top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;
}
.container::-webkit-scrollbar {
  display: none;
}

.loading {
  position: relative;
  top: 44px;
}

.lastNote {
  margin: 0 auto;
  /* border: 1px solid red; */
  /* position: absolute; */
  /* bottom: 10%;
  left: 50%;
  transform: translateX(-50%); */
}

@media screen and (max-width: 660px) {
  .container {
    height: calc(100vh - var(--nav-height-660px));
    width: 100%;
    top: var(--nav-height-660px);
    /* margin: var(--nav-height-660px) auto 0px; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding-bottom: 50px;
  }
}
