.container {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #262626;
}

.ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.li {
  list-style: none;
  margin: 0 14px;
}
.li a {
  /* pointer-events: none; */
  transition: 0.5s;
  display: inline-block;
  /* font-size: 30px; */
  line-height: 60px;
  background: #333;
  color: #666;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: bottom;
  border-radius: 50%;
}
.li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transform: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.li a:hover:before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}
.li a:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
.li a i {
  transform: scale(1.8);
  /* font-size: 1rem; */
}

.desc {
  position: absolute;
  bottom: 3%;
  color: white;
}

@media screen and (max-width: 660px) {
  /* .li a {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
  }
  .li a i {
    font-size: 30px;
  } */
}
