.container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - var(--nav-height));
  position: relative;
  top: var(--nav-height);
  background: var(--light-grey-background-color);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 50px;
}
.title {
  /* border: 1px solid red; */
  width: 70%;
  padding: 60px 30px 0px 30px;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
.subTitle {
  /* border: 1px solid red; */
  width: 70%;
  text-align: center;
  color: grey;
  font-size: 1.2rem;
  padding: 8px 30px 30px 30px;
}
.content {
  /* border: 1px solid red; */
  word-wrap: break-word;
  /* line-break: auto; */
  background: white;
  width: 70%;
  padding: 40px 30px;
  transition: 0.5s;
  border-left: 6px solid var(--border-left-grey);
  text-indent: 2rem;
}
.content:hover {
  border-left: 6px solid var(--primary-purple-color);
}
.text {
  /* border: 1px solid red; */
  word-wrap: break-word;
  /* line-break: auto; */
  width: 70%;
  padding: 10px 30px;
  text-indent: 2rem;
}
.code {
  min-width: 70%;
  width: auto;
}

@media screen and (max-width: 660px) {
  .container {
    height: 100vh;
    top: 0;
    padding-bottom: 0px;
  }
  .title {
    width: 90%;
    padding: 60px 30px 0px 30px;
  }
  .subTitle {
    width: 90%;
    padding: 8px 30px 30px 30px;
  }
  .content {
    width: 100%;
    border-top: 6px solid var(--border-left-grey);
    border-left: 0px solid var(--border-left-grey);
  }
  .text {
    width: 100%;
  }
  .code {
    min-width: 100%;
  }
  .content:hover {
    border-top: 6px solid var(--primary-purple-color);
    border-left: 0px solid var(--primary-purple-color);
  }
}
