.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--nav-height));
  position: relative;
  top: var(--nav-height);
  background: rgba(169, 169, 169, 0.1);
}

.card {
  background: white;
  padding: 20px 30px;
  /* border-left: 4px solid rgba(0, 0, 0, 0.8); */
  border-left: 4px solid rgba(138, 43, 226, 0.8);
}

@media screen and (max-width: 660px) {
  .container {
    /* height: calc(100vh - var(--nav-height-660px));
    top: var(--nav-height-660px); */
    /* border: 1px solid red; */
    height: 100vh;
    top: 0;
    background: rgba(169, 169, 169, 0.2);
  }
  .card {
    background: white;
    padding: 20px;
    border-left: 0px solid rgba(0, 0, 0, 0.8);
  }
}
