.mainBody_calculator_period {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.mainBody_calculator_name {
}

.mainBody_calculator_years {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 50%;
}
.mainBody_calculator_font {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 500;
}
.mainBody_calculator_font_year {
  color: var(--main-header-blue-color);
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}
.mainBody_calculator_font_year_function {
  color: rgba(124, 121, 121, 0.6);
  font-size: 19px;
  line-height: 19px;
  font-weight: 500;
}
.mainBody_calculator_font_year_function:hover {
  cursor: pointer;
}

.Period {
  button {
    display: inline-block;
    border: none;
    // padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    // background: #0069ed;
    color: grey;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  button:hover,
  button:focus {
    // background: #0053ba;
  }

  button:focus {
    // outline: 1px solid #fff;
    // outline-offset: -4px;
  }

  button:active {
    transform: scale(0.99);
  }
}
