.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
}

.wave {
  width: 100%;
  min-height: 500px;
  position: relative;
  background: linear-gradient(90deg, #f0027f, #75489f);
  /* transition: 0.5s; */
  /* background: #ffc728; */
}
.wave:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-4deg);
}

.wave1 {
  width: 100%;
  min-height: 500px;
  position: relative;
  margin-bottom: 100px;
  background: #ffc728;
  /* border: 1px solid red; */
}
.wave1:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: #ffc728;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: left top;
  transform: skewY(-4deg);
}
