.arrow {
  position: absolute;
  background: whitesmoke;
  /* width: 1em; */
  width: 10px;
  height: 2px;
  transition: 0.5s;
  /* border-radius: 1em; */
  transform-origin: right center;
}
.arrow:before {
  transform: rotate(-35deg);
}
.arrow:after {
  transform: rotate(35deg);
}
.arrow:before,
.arrow:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  background: whitesmoke;
  /* width: 0.8em; */
  width: 8px;
  height: 2px;
  /* transform-origin: 0.079em center; */
  transform-origin: 0.81px center;
  transition: 0.5s;
  /* border-radius: 0.5em; */
}

.arrow:before,
.arrow:after {
  /* left: 1em; */
  left: 10px;
}
.arrow:before {
  transform: rotate(140deg);
}
.arrow:after {
  transform: rotate(-140deg);
}
